body {
  font-size: 16px;
  font-family: "roboto", "Arial", serif;
  line-height: 22px;
}
b {
  font-size: 36px;
  line-height: 36px;
}
h1 {
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
h4 {
  display: inline;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.main-header {
  margin-bottom: 60px;
}
.clearfix::after {
  clear: both;
  display: table;
  content: "";
}
.index-logo {
  float: left;
  margin-top: 27px;
  margin-right: 180px;
}
.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-nav ul {
  float: left;
}
.main-nav li {
  display: inline-block;
  margin-top: 51px;
  margin-right: 40px;
}
.slide {
  min-height: 300px;
  margin-bottom: 75px;
}
.slide-text {
  width: 380px;
  float: left;
  margin-top: 40px;
  margin-right: 145px;
}
.lead {
  min-height: 380px;
  margin-bottom: 80px;
}
.gallery {
  width: 340px;
  float: left;
}
.lead div {
  width: 240px;
  display: inline-block;
  margin-right: 80px;
  vertical-align: top;
}
.lead div:last-child {
  margin: 0
}
.about-us {
  margin-bottom: 70px;
}
.about-us-left {
  width: 580px;
  float: left;
  margin-right: 60px;
}
.about-us-rigth {
  width: 240px;
  float: right;
}
.friends div {
  width: 230px;
  float: left;
  margin-right: 100px;
}
.friends div:last-child {
  margin: 0;
}
.friends {
  margin-bottom: 85px;
}
.map {
  height: 416px;
}
.aside {
  width: 250px;
  float: left;
}
.social {
  margin-top: 77px;
  margin-bottom: 75px;
}
.social-left {
  width: 240px;
  float: left;
  margin-right: 80px;
}
.social-left a {
  float: left;
  margin-right: 25px;
}
.social-left a:last-child {
  margin: 0;
}
.social-right {
  width: 550px;
  float: right;
  margin-top: -50px;
  margin-left: 80px;
}


/* Каталог */


.greeting {
  text-align: center;
  padding: 0 105px;
  margin-bottom: 40px;
  height: 245px;
}
.criteria {
  float: left;
  width: 240px;
  margin-right: 80px;
}
.column-right {
  float: right;
}
.sorting {
  width: 560px;
  margin: 20px 0;
}
.sorting h4 {
  margin-right: 40px;
}
.sorting a {
  margin-right: 45px;
}
.gallery {
  width: 560px;
  float: left;
}
.gallery a {
  float: left;
  margin-right: 80px;
  margin-bottom: 80px;
}
.gallery a:nth-child(2n+2) {
  margin-right: 0px;
}
.pagination {
  clear: both;
  width: 285px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.pagination li {
  display: inline-block;
  width: 38px;
  margin-right: 10px;
}
